   <div class="footer">
        <div class="container">
            <div class="text-center">careHealth是一个由华中科技大学计算机学院三位本科生开发的开放医疗平台</div>
            <div class="text-center">旨在为大家提供一个更好的医疗咨询交流服务中心</div>
            <div class="text-center">版权所有，翻录必究</div>
        </div>
    </div>

    
    <div class="modal fade bs-example-modal-sm" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">登陆</h4>
                </div>
                <div class="modal-body">
                    <input class="form-control" id="login_user" type="text" placeholder="请输入用户名">
                    <input class="form-control" id="login_pass" type="password" placeholder="请输入密码">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-block" id="login_btn">登陆</button>
                </div>
            </div><!--end of modal-content-->
        </div><!--end of modal-dialog-->
    </div><!--end of loginModal-->