<!--navigator-->
    <div class="navigator quick-navigator">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-6">
                    <div class="login pull-left">
                        <span class="before_login">您好！请
                            <span class="login-click" data-toggle="modal" data-target="#loginModal">登陆</span>|
                            <a class="register-click" href="/web/user/register">注册</a>
                        </span>
                        <span class="after_login">欢迎您！<a href="#">倾听</a> <a href="">退出</a></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="quick-tabs pull-right">
                        <a href="#">客服中心</a>
                        <a href="#">排行榜</a>
                        <a href="#">新闻中心</a>
                        <a href="#">投诉建议</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-3 col-md-offset-2">
                <div class="logo">
                    <img src="/static/image/logo.png"/>
                </div>
            </div>
            <div class="col-md-5">
                <div class="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜医生,用户,文章,帮助"/>
                        <span class="input-group-btn">
                            <button class="btn btn-primary">搜索</button>
                        </span>
                    </div>
                    <div class="hot-words">
                        <span>大家都在搜：</span>
                        <a href="#">百度</a>
                        <a href="#">百度</a>
                        <a href="#">百度</a>
                        <a href="#">百度</a>
                        <a href="#">百度</a>
                        <a href="#">百度</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navigator main-navigator">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-6">
                    <div class="pull-left find-tabs">
                        <span>找对资源：</span>
                        <a href="#">找医生</a>
                        <a href="#">找科室</a>
                        <a href="#">找疾病</a>
                        <a href="#">找资源</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pull-right info-tabs">
                        <a href="#">名医之旅</a>
                        <a href="#">健康宝典</a>
                        <a href="#">健康交流</a>
                        <a href="#">个人专区</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of navigator-->
